#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: #102107;
  padding-bottom: 16rem;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.cta__surahs {
  margin-top: 8rem;
  padding: 1.6rem 4rem;
}
.quran__badge {
  padding: 0.6rem 3rem;
}
.quran__num {
  padding: 1.6rem;
}
.ayah__title {
  padding: 0.8rem 2.4rem;
}
.quran__badges {
  margin-top: 2.4rem;
}
.quran__card {
  padding: 1.6rem;
}
.quran__card--number {
  padding: 0.8rem 2.4rem;
  margin-bottom: 1.6rem;
}
.quran__list {
  margin: 0 auto;
  margin-top: 6rem;
}
.surah__section {
  margin-top: 6.4rem;
  margin-left: auto;
  margin-right: auto;
}
.surah__input {
  padding: 1rem 1rem;
  margin: 0 auto;
}
.surahs__text {
  margin-bottom: 3rem;
}
.daily__ayah {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 1);
}
.hero__section {
  margin-top: 6.4rem;
  margin-left: auto;
  margin-right: auto;
}
.daily__ayah {
  padding: 1.6rem 6.2rem;
}
.ayah__title {
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
}
.header {
  padding: 2rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
.header__nav {
  padding: 0.8rem 2.4rem;
}
.theme__icon {
  padding: 0.8rem 0.8rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
