#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: var(--color-background);
  padding-bottom: 16rem;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-background);
}

@media (max-width: 1279px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 43.75%;
  }
}

@media (max-width: 639px) {
  html {
    font-size: 37.5%;
  }
}
.cta__surahs {
  margin-top: 8rem;
  padding: 1.6rem 4rem;
}
.quran__badge {
  padding: 0.6rem 3rem;
}
.quran__num {
  padding: 1.6rem;
}
.ayah__title {
  padding: 0.8rem 2.4rem;
}
.quran__badges {
  margin-top: 2.4rem;
}
.quran__card {
  padding: 1.6rem;
}
.quran__page--card {
  animation: comeIn 600ms;
}
.dua__card--page {
  animation: comeIn 600ms;
}
@keyframes comeIn {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.quran__card--number {
  padding: 0.8rem 2.4rem;
  margin-bottom: 1.6rem;
}
.quran__list {
  margin: 0 auto;
  margin-top: 2rem;
}

.surah__input {
  padding: 1rem 1rem;
  margin: 0 auto;
}
.surahs__text {
  margin-bottom: 3rem;
}
.daily__ayah {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 1);
}
.hero__section {
  margin-top: 6.4rem;
  margin-left: auto;
  margin-right: auto;
}
.daily__ayah {
  padding: 1.6rem 6.2rem;
}
.ayah__title {
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
}
.header {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
.header__nav {
  padding: 0.8rem 2.4rem;
}
.theme__icon {
  padding: 0.8rem 0.8rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
