@import "tailwindcss";

@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #102107;
  padding-bottom: 16rem;
  scroll-behaviour: smooth;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@theme {
  --color-secondary: #246a80;
  --color-primary: #138926;
  --color-tertiary: #508899;
  --color-shade: #a1d0a8;
  --color-text: #e7f8de;

  --color-light-blue: oklch(90.1% 0.058 230.902);
  --color-amber: oklch(92.4% 0.12 95.746);
  --color-background: #102107;
  --color-slate: oklch(37.2% 0.044 257.287);
  --color-header: oklch(26.6% 0.065 152.934);
}
